body {
  max-width: min(75ch, 37ic);
  margin-right: 0;
  margin-left: 0;
  color: #141413;
  background-color: #f0eee6;
}

.hero-label {
  font-size: 3em;
  font-weight: bold;
}

.hero-label rt {
  font-size: 0.5em;
}

@media (width < 768px) {
  body {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (width >= 768px) {
  body {
    margin-left: 177px;
  }
}

@media (width >= 1024px) {
  body {
    margin-left: 223px;
  }
}

@media (width >= 1280px) {
  body {
    margin-left: 243px;
  }
}

@media (width >= 1440px) {
  body {
    margin-left: 308px;
  }
}
